@import "../../scss/styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

.cardsSection {
  .bottomCard,
  .topCard {
    display: flex;
    align-items: center;
    gap: 4vw;

    @media screen and (max-width: 800px) {
      padding: 0;
      gap: 40px;
    }
  }

  .topCard {
    margin-bottom: 100px;
    @media screen and (max-width: 1400px) {
      margin-bottom: 78px;
    }
    @media screen and (max-width: 800px) {
      margin-bottom: 56px;
    }
  }

  .text {
    width: 36vw;
    h1 {
      margin-bottom: 25px;
    }
    p {
      font-family: "Manrope", sans-serif;
    }

    @media screen and (max-width: 800px) {
      padding: 0 20px;
      width: 100%;
    }
  }
}

.topCard {
  padding-right: 16vw;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
  .photoWrapper {
    width: 44vw;
    height: 480px;
    @media screen and (max-width: 800px) {
      height: 370px;
      width: 100%;
    }
  }
}

.bottomCard {
  padding-right: 16vw;
  padding-left: 8vw;
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }
  .photoWrapper {
    width: 36vw;
    height: 411px;

    @media screen and (max-width: 800px) {
      height: 360px;
      width: 100%;
    }
  }
}
