@import "./libs/normalize";

@font-face {
  font-family: "Orchidea Pro";
  src: url("./fonts/OrchideaProExtraLight.ttf");
}

* {
  font-family: "Orchidea Pro", sans-serif;
  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

h1 {
  font-size: 48px;
  @media screen and (max-width: 1400px) {
    font-size: 36px;
  }
  @media screen and (max-width: 800px) {
    font-size: 24px;
  }
}

p {
  font-size: 18px;
  @media screen and (max-width: 1400px) {
    font-size: 16px;
  }
  @media screen and (max-width: 800px) {
    font-size: 14px;
  }
}
